{% extends 'base.html' %}
{% block content %}
{% for item in item_list %}
    <div class="card p-3 mt-4" style="background-color: #EDFF7A">
        <div class="d-flex flex-row justify-content-between">
            <div class="">
                <h3>{% if item.status == '1' %}Zgubione{% else %}Znalezione{% endif %}</h3>
                <p>{{ item.name }}</p>
                <p>{{ item.description }}</p>
                <p class="text-secondary">Dodał(a): {{ item.author }} | {{ item.created_on }}</p>
            </div>
            {% if item.photos %}
            <div class="px-3">
                {% for photo in item.photos.all %}
                    <img src="{{ photo.photo.url }}" class="img-thumbnail" width="200" height="150">
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="card p-3 mt-4" style="background-color: #57704e">
            <div>
                {% if item.comments %}
                    {% for comment in item.comments.all %}
                        <div class="rounded" style="background-color: #E8D33F">
                        <p class="text-secondary">{{ comment.author }} | {{ comment.created_on }}</p>
                        <p style="color: #57704e">{{ comment.content }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <div>
                <a href="{%  url 'comments' %}"><button class="btn" style="background-color: #E8D33F; color: #57704e">Dodaj komentarz</button></a>
            </div>
        </div>
    </div>
{%  endfor %}
<div class="fixed-bottom container" id="form-div">
    <form method="POST" class="p-3" style="display: none" id="form" enctype="multipart/form-data">
{#        style="background-color: #E8D33F; color: #57704e"#}
        {% csrf_token %}
        {{ form.author }}
        <div class="form-group row">
            <label for="{{ form.status.id_for_label }}" class="col-sm-2 col-form-label">Status: </label>
            <div class="col-sm-10">
                {{ form.status }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">Nazwa: </label>
            <div class="col-sm-10">
                {{ form.name }}
            </div>
        </div>
        <div class="form-group row">
            <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">Szczegóły: </label>
            <div class="col-sm-10">
                {{ form.description }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Zdjęcia: </label>
            <div class="col-sm-10">
                <input type="file" name="image" multiple>
            </div>
        </div>
        <button type="submit" class="btn my-2 block-end" style="background-color: #57704e; color: #E8D33F">Zapisz</button>
    </form>
    <div class="d-flex flex-row-reverse px-10">
        <button class="btn" style="background-color: #E8D33F; color: #57704e" id="form-button">Dodaj rzecz</button>
    </div>
</div>
{% load static %}
<script src="{% static 'items.js' %}"></script>
{% endblock %}