{% load static %}
<nav class="navbar navbar-expand-xl">
    <a class="navbar-brand px-4" href="/">
        <img src="{% static 'as-logo2.png' %}" width="200" height="120" class="d-inline-block align-top">
    </a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto px-4">
            <li class="nav-item active">
                <a class="nav-link" href="#">Zgubione/znalezione</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Ogłoszenia drobne</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto px-4">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link disabled">Dzień dobry, {{ user.username }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'signup' %}">Rejestracja</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
